<div *ngIf="hero">
  <div class="bubble">{{ hero.name }} Details</div>
  <div class="row heroes-container">
    <div class="heroes-card">
      <div class="card col" style="width: 8rem">
        <div class="img-container"></div>
        <img
          routerLink="/heroes/detail/{{ hero.id }}"
          src="{{ imgPath + hero.img }}"
          class="card-img-top"
          alt="super hero Ultor"
        />
        <div class="card-body body-container">
          <div class="card-title" style="font-family: Dekko, cursive">
            {{ hero.name }}
          </div>
          <div class="card-text">
            <div><strong>Gender: </strong> {{ hero.gender }}</div>
            <div><strong>Species:</strong> {{ hero.species }}</div>
            <div><strong>World:</strong> {{ hero.world }}</div>
          </div>
        </div>
        <div>
          <button type="button" (click)="goBack()">Go Back</button>
          <button type="button" (click)="save()">Save</button>
        </div>
        <div>
          <button (click)="edit(hero.id)" class="button-54 btn edit">
            Edit
          </button>
          <button
            class="button-54 btn delete"
            title="delete hero"
            (click)="onDelete(hero)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
