
@import url("https://fonts.googleapis.com/css?family=Dekko|Lato:900|Rock+Salt");



.bubble {
  display: flex;

  max-width: 600px;
  margin: 2rem 0;
  padding: 0.2rem 1.25rem;
  text-align: center;
  font-family: "Dekko", cursive;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  border: 0.4rem solid #000;
  /* position relative for the :before pseudo element */
  position: relative;
}

strong {
  font-family: "Dekko", cursive;
}

.bubble--highlight {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #ffcd28;
  background-size: 13px, 100%;
  font-weight: 700;
  /* justify-content: center; */
}
/* for the highlight container always add an exclamation point */
.bubble--highlight:after {
  content: "!";
}
/* for every .bubble container add a solid background behind the container itself, slightly offset */
.bubble:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.15rem;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(35)" opacity="1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #000;
  background-size: 12px, 100%;
  border: 0.4rem solid #000;
  z-index: -5;
}


.dash-yellow {
  display: flex;
  justify-content: center;
  margin: auto;
}

.heroes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heroes-top {
  padding: 0;
  margin: 1em;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: nowrap; */
  /* justify-content: space-around; */
  /* align-content: flex-start;
  align-items: flex-start; */
}

.card-img-top {
  background-color: crimson;
}

.card-title {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "Dekko", cursive;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1em;

}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}



